.header {
  margin: 5rem 0 2rem;
  text-align: center;
}

.header__logo {
  display: inline-block;
  margin: 0 0 3rem;
}

.header__title {
  margin: 0 0 1.5rem;
  font-size: 2em;
  font-weight: 700;
}

.header__description {
  margin: 0;
}
